<div id="home" class="folio boxes">

  <div class="box box-blurb">
    <div class="blurb">
      <h2>{{'welcome' | translate}}</h2>
      {{'intro' | translate}}
    </div>
  </div>

  <a class="box box-photo" href="/commercial">
    <img src="../../images/vanguard/thumbnail.jpg"/>
    <img class="title" src="../../images/vanguard/vanguard.png"/>
  </a>

  <a class="box box-photo" href="/hobby">
    <img src="../../images/occult/thumbnail.jpg"/>
    <img class="title" src="../../images/occult/occult.png"/>
  </a>

  <a class="box box-photo" href="/hobby/hadal">
    <img src="../../images/hadal/thumbnail.jpg"/>
    <img class="title" src="../../images/hadal/hadal.png"/>
  </a>

  <a class="box box-photo" href="/hobby/effigy">
    <img src="../../images/effigy/thumbnail.jpg"/>
    <img class="title" src="../../images/effigy/effigy.png"/>
  </a>
  <div class="box box-separator"></div>
</div>
