<div id="home" class="folio boxes">
  <div class="box box-main">
    <div class="blurb">
      <h2>{{'welcome' | translate}}</h2>
      {{'intro' | translate}}
    </div>
  </div>
  <div class="box box-map-thumbnail">
    <img src="../../images/vanguard/thumbnail.jpg"/>
    <a href="/commercial"> <img src="../../images/vanguard/vanguard.png"/></a>
  </div>
  <div class="box box-map-thumbnail">
    <img src="../../images/occult/thumbnail.jpg"/>
    <a href="/hobby"><img src="../../images/occult/occult.png"/></a>
  </div>
  <div class="box box-map-thumbnail">
    <img src="../../images/hadal/thumbnail.jpg"/>
    <a href="/hobby/hadal"><img src="../../images/hadal/hadal.png"/></a>
  </div>
  <div class="box box-map-thumbnail">
    <img src="../../images/effigy/thumbnail.jpg"/>
    <a href="/hobby/effigy"><img src="../../images/effigy/effigy.png"/></a>
  </div>
  <div class="box box-separator"></div>
</div>
