<div class="carousel">
  <div class="carousel-inner" ng-transclude></div>

  <div class="carousel-controls" ng-show="slides.length > 1">
    <!-- left -->
    <a role="button" class="button-left" ng-click="prev()"
       ng-class="{ disabled: isPrevDisabled() }">
    </a>
    <!-- right -->
    <a role="button" class="button-right" ng-click="next()"
       ng-class="{ disabled: isNextDisabled() }">
    </a>
    <!-- progess -->
    <table class="carousel-progress" order="1" cellpadding="10px">
      <tr><td ng-repeat="slide in slides | orderBy:indexOfSlide track by $index"
              ng-class="{ active: isActive(slide) }" ng-click="select(slide)">
      </td></tr>
    </table>
    <!-- fullscreen button -->
    <a class="button-fullscreen" ng-click="viewcarouselmodal('.vanguard')"></a>
    <!-- fullscreen space -->
    <a class="space-fullscreen" ng-click="viewcarouselmodal('.vanguard')"></a>

  </div>
</div>
