<div class="box box-main">
  <div class="install-box">
    <div>
      <div class="blurb">
        <img class="title" ng-src="{{map['title']}}"></img>
        <p>{{ map.name | translate}}</p>
      </div>
      <div class="play">
        <a ng-click="install = !install">{{'wanttoplay' | translate}}</a>
      </div>
    </div>
  </div>

  <div class="install" ng-show="install">
    <div>
      <h3>{{'instructions' | translate}}</h3>
      <ol class="instructions">
        <li>
          <a href="http://store.steampowered.com/about/" target="_blank">
            {{'install-1' | translate}}</a>
        </li>
        <li>
          <a href="steam://install/440" target="_blank">
            {{'install-2' | translate}}</a>
        </li>
        <li ng-if="map['level'] == 0">
          <a href="steam://url/CommunityFilePage/{{map['workid']}}" target="_blank">
            {{'install-3' | translate}}</a>

          <a class="icon" popover pop-template="poptemplate3.html"
             pop-data="map['workid']">
            <i class="lvl lvl-issue-opened"></i>
          </a>
        </li>
        <li>
          <a href="steam://run/440//+map%20{{map['level']==0 ? 'workshop%2f':''}}{{map['workid']}}" target="_blank">
            {{'install-4' | translate}}</a>
          <a class="icon" popover pop-template="poptemplate4.html">
            <i class="lvl lvl-issue-opened"></i>
          </a>
        </li>
      </ol>
      <a class="icon" ng-click="install = !install">
        <i class="lvl lvl-chevron-down"></i>
      </a>
    </div>
  </div>
  <script type="text/ng-template" id="poptemplate4.html">
    <p><b>{{'install-note' | translate}}</b>{{'install-4-warn' | translate}}</p>
    <p><b>{{'install-alt' | translate}}</b>{{'install-4-alt' | translate}}</p>
  </script>
  <script type="text/ng-template" id="poptemplate3.html">
    <p><b>{{'install-alt' | translate}}</b>{{'install-3-alt' | translate}}
      <a href="http://steamcommunity.com/sharedfiles/filedetails/?id={{data}}"
         target="_blank">{{'install-3-alt2' | translate}}</a></p>
  </script>
</div>
