<div class="box box-3d"
     ng-class="{'box-click': !map['mdlshow']}">
  <div id="{{map['targetid']}}" class="box-3d-inner">
    <!-- closed -->
    <div class="fill" ng-click="open_model()">
      <img align="center" src="../../images/icons/icons-3d.png" class="icon"></img>
    </div>

    <!-- close -->
    <div class="icon close" ng-show="map['mdlshow'] && loaded" ng-click="close_model()">
      <i class="lvl lvl-x"></i>
    </div>

    <!-- loading -->
    <div class="loading" ng-show="map['mdlshow'] && !loaded">
      <div class="icon"><i class="lvl lvl-gear"></i></div>
      <span>{{'loading' | translate}}</span>
    </div>

    <!-- controls -->
    <div class="controls3d"
         ng-if="map['mdlshow'] && loaded"
         ng-class="{'hidden': $parent.cshow || controlsGlimpse3d}">
      <div class="info" ng-mouseenter="$parent.cshow=true">
        <i class="lvl lvl-info"></i>
      </div>
    </div>
    <div class="controls" ng-mouseleave="$parent.cshow=false" ng-if="loaded"
         ng-show="map['mdlshow'] && ($parent.cshow || controlsGlimpse3d)">
        <div class="controls3d" ng-mouseleave="cshow=false">
          <img src="../../images/icons/icons-lcrot.png"/>
          <img src="../../images/icons/icons-mczoom.png"/>
          <img src="../../images/icons/icons-rcpan.png"/>
        </div>
      </div>
    </div>
  </div>
</div>
