<div id="panorama">
  <div class="container-pullback" ng-show="focus">
    <div class="icon close" ng-click="v360()">
      <i class="lvl lvl-chevron-right"></i>
    </div>
  </div>

  <div class="controls-container" ng-if="focus && show">
    <div class="controls-hint">
      <i class="lvl lvl-info"></i>
    </div>
    <div class="controls-hidden">
      <img src="../../images/icons/icons-lcpan.png"/>
      <img src="../../images/icons/icons-mczoom.png"/>
    </div>
  </div>

  <div id="curtain" class="container-curtain" ng-hide="show">
    <div class="loading" ng-if="focus">
      <div class="icon"><i class="lvl lvl-gear"></i></div>
      <span>{{'loading' | translate}}</span>
    </div>
  </div>
  <div ng-if="debug" class="debug-data">{{coords}}</div>
</div>
