<nav ng-class="{'mobile': overflow}">
  <div class="navbar-header">
    <div class="supertitle">{{'nav-title'| translate}}</div>
    <a class="title" href="/">Maxime Dupuis</a>
  </div>

  <div class="lang-desktop">
    <a ng-class="{active: active_lang == 'en'}"
       ng-click="translate('en')">EN</a>
    <a ng-class="{active: active_lang == 'fr'}"
       ng-click="translate('fr')">FR</a>
  </div>

  <div class="nav-desktop">
    <a ng-class="{ active: isActive('/commercial')}"
       href="/commercial">{{'nav-commercial' | translate}}</a>
    <a ng-class="{ active: isActive('/hobby')}"
       href="/hobby">{{'nav-hobby' | translate}}</a>
    <a ng-class="{ active: isActive('/code')}"
       href="/code">{{'nav-code' | translate}}</a>
    <a ng-class="{ active: isActive('/contact')}"
       href="/contact">{{'nav-contact' | translate}}</a>

    <a class="navbar-menu-toggle" ng-bind-html="icon_menu"
       ng-class="{'active': isNavOpen}" ng-click="toggle_open()">
    </a>
  </div>

  <div class="navbar-menu ng-hide" ng-show="isNavOpen">
    <a ng-class="{ active: isActive('/commercial')}"
       href="/commercial">{{'nav-commercial' | translate}}</a>
    <a ng-class="{ active: isActive('/hobby')}"
       href="/hobby">{{'nav-hobby' | translate}}</a>
    <a ng-class="{ active: isActive('/code')}"
       href="/code">{{'nav-code' | translate}}</a>
    <a ng-class="{ active: isActive('/contact')}"
       href="/contact">{{'nav-contact' | translate}}</a>
    <div class="lang-menu">
      <a ng-class="{active: active_lang == 'en'}"
         ng-click="translate('en')">EN</a>
      <a ng-class="{active: active_lang == 'fr'}"
         ng-click="translate('fr')">FR</a>
    </div>
  </div>

</nav>

