<!doctype html>
<html lang="en" ng-app="folioApp" ng-strict-di ng-controller="RootController">
<head>
  <meta charset="utf-8">
  <title>Maxime Dupuis</title>
  <base href="/"/>
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=0.75, user-scalable=0"/>
</head>

<body>
  <div class="scrollable" ng-class="{'hidden':focus360}">
    <!-- Map panoramas -->
    <div class="pano-clickable" ng-click="focus360 = true"></div>
    <map-panorama ng-model="current_panorama" focus="focus360">
    </map-panorama>

    <!-- Navigation + page background-->
    <div class="page-centering page-background"></div>
    <div class="page-centering page-nav">
      <navbar></navbar>
    </div>
    <div class="page-centering">
      <div class="content" id="content">
        <ui-view ng-class="{ reverse: reverse}"
                 class="view"></ui-view>
      </div>
    </div>
  </div>
</body>
</html>
