<!doctype html>
 <html lang="en" ng-app="folioApp" ng-strict-di>
<head>
  <meta charset="utf-8">
  <title>Maxime Dupuis</title>
  <base href="/"/>
</head>

<body ng-controller="RootController">
  <!-- Map panoramas -->
  <map-panorama ng-model="current_panorama"
                focus="$root.focus360">
  </map-panorama>

  <!-- Page content -->
  <div class="container" ng-hide="$root.focus360">
    <div class="page-margin" ng-click="go_panorama()"></div>
    <div class="page-centering">
      <div class="page-background"></div>
      <div class="page">
        <!-- Navigation -->
        <navbar></navbar>
        <div class="content">
          <div class="scrollbox">
            <div ng-view ng-class="{ reverse: reverse}"
                 class="scrollbox-padded view"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
