@import "node_modules/compass-mixins/lib/compass/reset";
@import "node_modules/compass-mixins/lib/compass";
@import "node_modules/compass-mixins/lib/animate";
@import "src/scss/mixins";
@import "src/scss/navbar";
@import "src/scss/boxes";

* { @include box-sizing(border-box) }

div {
    line-height: 1.5;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
}

html {
    line-height: 1.5;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87); }

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    line-height: 1.1; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-weight: inherit; }

h1 {
    font-size: 4.2rem;
    line-height: 110%;
    margin: 2.1rem 0 1.68rem 0; }

h2 {
    font-size: 3.56rem;
    line-height: 110%;
    margin: 1.78rem 0 1.424rem 0; }


h3 {
    font-size: 2.92rem;
    line-height: 110%;
    margin: 1.46rem 0 1.168rem 0; }

h4 {
    font-size: 2.28rem;
    line-height: 110%;
    margin: 1.14rem 0 0.912rem 0; }

h5 {
    font-size: 19px;
    line-height: 110%;
    margin: 0.82rem 0 0.656rem 0; }

h6 {
    font-size: 1rem;
    line-height: 110%;
    margin: 0.5rem 0 0.4rem 0; }

em {
    font-style: italic; }

strong {
    font-weight: 500; }
i {
    font-style: italic;
}
a {
    outline: none;
}

canvas {
    cursor: grab;
    &:active {
        cursor: grabbing;
    }
}

body {
    overflow: hidden;
    margin: 0px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background: black;
    &>canvas {
        max-height:100%;
        max-width: 100%;
        overflow: hidden;
    }
}

.container {
    display: block;
    position: absolute;
    height: 100%;
    padding: 0;
    margin-left: 0;
    @include transition(margin-left opacity);
    &.ng-hide {
        margin-left: 100%;
        @include opacity(0);
    }
}


.page { @include page-base; }
.page-centering {
    max-height: 840px;
    min-width: 100%;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    margin: auto;
    @include transition(transform opacity);
}
@media screen and (min-height: 840px){
    .page-centering{
        top: 2%;
        bottom: 2%;
    }
}
.page-nav {
    position: fixed;
    width: 0;
    min-width: 0;
    z-index: 1000;
}
.page-background {
    @include page-base;
    z-index:-1 ;
    position: fixed;
    background: #202020;
    @include opacity(0.90);
}
.page-padded {
    padding: 20px 100px;
}
.pano-clickable {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
}


.content {
    position: relative;
    height: 100%;
    overflow: hidden;
    padding-top: 130px;
}
ui-view {
    position: relative;
    height: 100%;
    min-height: 430px;
    padding-bottom: 30px;
    white-space: nowrap;
    display: inline-block;
    margin-left: 100px;
    overflow: hidden;
    &.ng-enter {
        @include transition(margin-left opacity, 0.5s);
        display:block;
    }
    &.ng-leave {
        @include transition(margin-left opacity, 0.5s);
        display:block;
    }

    &.ng-enter { margin-left:100vw; }
    &.ng-leave { margin-left:-100vw; }

    &.ng-enter.ng-enter-active {
        margin-left:100px;
        z-index: -1;
    }
    &.ng-leave.ng-leave-active {
        margin-left:100px;
        z-index: -1;
    }
    &.ng-leave.ng-leave-active { @include opacity(0); }
    &.reverse {
        &.ng-enter { margin-left:-100vw; }
        &.ng-leave { margin-left: 100vw; }
        &.ng-enter.ng-enter-active {
            margin-left:100px;
        }
        &.ng-leave.ng-leave-active {
            margin-left: 100px;
        }
    }
}
#scrollable {
    &.hidden {
        .pano-clickable {
            display: none;
        }
        .page-centering {
            @include transform(translateX(100vw));
            @include opacity(0);
            z-index: -1000;
        }
    }
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: scroll;
    overflow-y: hidden;
}

isotope, .isotope-container {
    height: 100%;
    margin-right: 40px;
    display: inline-block;
    white-space: normal;
}
.icon {
    color: white;
    fill: white;
    height: 40px;
    width: 40px;
}
i.lvl {
    color: white;
}

@keyframes spin {
    from { @include transform(rotate(0deg));}
    to { @include transform(rotate(360deg));}
}

.loading{
    position: absolute;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    text-align: center;
    display: inline-block;
    span {
        color: white;
	    margin: auto;
	    position: absolute;
	    font-size: 25px;
	    top: 150px; left: 0; bottom: 0; right: 0;
	    width: 200px;
	    height:40px;
    }
    .icon {
	    height:100px;
	    width: 100px;
	    text-align: center;
	    position: absolute;
	    margin: auto;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    i {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            text-align: center;
            font-size: 100px;
        }
        @include animation(spin 7s infinite linear);
    }
}
.debug-data {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
}
.controls {

    position: absolute;
    min-height: 90px;
    margin: auto;
    bottom: 0;
    width: 100%;
    text-align: center;
    @include opacity(1);
    @include transition(opacity bottom);

    &.ng-hide {
        @include opacity(0);
        bottom: -200px;
    }
    .controls3d {
        width: 100%;
    }
}

.controls360, .controls3d {
    display: inline-block;
    bottom: 0;
    max-width: 20%;
    min-width: 250px;
    min-height: 75px;
    margin-top: 10px;
    color: white;
    font-size: 50px;
    img {
        width: 47%;
        height: auto;
    }
    .info {
        @include base-button;
        cursor: default;
        display: inline-block;
    }

}
.controls3d {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    margin: auto;
    width: 40px;
    max-width: 100%;
    @include opacity(1);
    &.hidden {
        @include opacity(0);
    }
    img {
        width: 22%;
        height: auto;
    }
}

.carousel {
    height: 100%;
    .carousel-controls {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        .carousel-progress,
        .button-fullscreen {
            z-index: 22;
        }
        .button-left,
        .button-right {
            z-index: 21;
        }
        .space-fullscreen {
            z-index: 20;
        }
    }
    .button-left,
    .button-right,
    .button-fullscreen {
        @include base-button;
    }
    .button-left,
    .button-right {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
	    bottom: 0;
        width: 15%;
        font-size: 40px;
        background: transparent;
        i{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            height: 50px;
            width: 50px;
            right: 0;
            margin: auto;
        }
        &:hover {
            i { colot: white;}
            color: #fff;
            text-decoration: none;
            outline: 0;
            &:after {
                @include opacity(0.35);
            }
        }
        &:after {
            content: '';
            position: absolute;
            @include opacity(0.05);
            top: 2px;
            left: 2px;
            right: 2px;
            bottom: 2px;
        }
    }
    .button-right {
        left: auto;
        i { left: auto;}
        &:after {
            @include background(
                linear-gradient(to left,
                                rgba(255,255,255,0.5),
                                rgba(255,255,255,0)));
        }
    }
    .button-left {
        right: auto;
        i { right: auto;}
        &:after {
            @include background(
                linear-gradient(to left,
                                rgba(255,255,255,0),
                                rgba(255,255,255,0.5)));
        }
    }
    .button-fullscreen {
        position: absolute;
        right: 5px;
        bottom: 21px;
        height: 30px;
        width: 30px;
        font-size: 30px;
        &:hover {
            @include text-shadow(white 1px 0 10px);
        }
    }
    .space-fullscreen {
        @include box-photo-clickable;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        cursor: zoom-in;
    }
    .carousel-progress {
        position: absolute;
        height: 6px;
        bottom: 2px;
        left: 0.5%;
        right: 0.5%;
        width: 99%;
        @include opacity(0.70);

        cursor: pointer;

        td {
            padding: 5px;
            border:1px solid white;
            &:hover {
                background: rgba(255,255,255,0.2);
            }
            &.active {
                background: white;
                @include opacity(1);
            }
        }
    }
    .carousel-inner {
        height: 100%;
        .item {
            height: 100%;
            overflow: hidden;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            @include transition(transform);
            @include transform(translateX(0));
            display: none;
            img {
                object-fit: cover;
                width: 100%;
            }
        }

        .next, .prev, .active {
            display: block;
        }
        .active {
            left: 0;
        }
        .active.right {
            left: 100%;
        }
        .active.left {
            left: -100%;
        }
        .next.left, .prev.right {
            left: 0;
        }
        .item.active,
        .item.next.left,
        .item.prev.right {
            left: 0;
            @include transform(translate3d(0,0,0));
        }
        .item.active.left, .item.prev {
            left: 0;
            @include transform(translate3d(-100%,0,0));
        }
        .item.active.right, .item.next {
            left: 0;
            @include transform(translate3d(100%,0,0));
        }
    }
    .text-center{
        height: 100%;
    }
    img {
        height: 100%;
        width: auto;
        max-width: 200%;
    }
}



.popover {
    position: absolute;
    display: inline-block;
    z-index: 1000;
    color: black;
    background: white;
    border: 1px solid #999;
    padding: 40px 25px 30px;
    width: 400px;
    @include opacity(1);
    @include transition(opacity, 0.2s);
    a {
        font: inherit;
        color: #444;
        cursor: pointer;
        text-decoration: underline;
        &:hover {
            color: black;
        }
    }
    .arrow {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 0;
        border: 16px solid transparent;
        border-top-color: white;
        border-bottom: 0;
        margin-left: -17px;
        margin-bottom: -16px;

        &:after {
            content: '';
            position: absolute;
            left: -18px;
            right: -18px;
            bottom: -2px;
            width: 0;
            height: 0;
            z-index: -1;
            border: 18px solid transparent;
            border-top-color: #999;
            border-bottom: 0;
        }
    }
    &.hidden {
        @include opacity(0);
        z-index: -100;
    }
    &.hidden-add-active,
    &.hidden-remove-active {
        z-index: 1000;
    }
    span {
        display: block;
        position: relative;
    }
}

#custom-modal {
    .fade {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: black;
        @include opacity(0.75);
        z-index: 15;
    }
    .modal-wrap {
	    position: absolute;
        text-align: center;
        top: 0;
        bottom: 0;
        left: 0;
	    right: 0;
        z-index: 1000;
        #overlay {
            position: absolute;;
            bottom: 0;
            right: 0;
            left: 0;
            top: 0;
            margin: auto;
            display: inline-block;
            max-height: 85%;
            max-width: 80%;
            overflow: hidden;
            z-index: 16;
            >a {
                @include x-button;
		        z-index: 30;
                font-size: 50px;
            }
            >img {
                object-fit: contain;
                height:100%;
                width: 100%;
            }
	    }

    }
    .carousel{
	    position: relative;
        display: inline-block;
        overflow: hidden;
        .carousel-inner {
            position: relative;
	        display: inline-block;
        }
        .item {
            position: relative;
            display: inline-block;
            height: 0;
        }
        .item.left, .item.right {
            position: absolute;
            height: 100%;
            display: inline-block;
            z-index: 9;
            img { object-fit: cover;
		          width: 100%;}

        }
        .item.next, .item.prev {
            position: absolute;
            height: 100%;
            display: inline-block;
            z-index: 13;
	        img { object-fit: cover;
                  width: 100%;}

        }
	    .item.active{
            height: 100%;
            position: sticky;
            z-index: 11;
            width: auto;
	        display: inline-block;
            img { object-fit: cover;
                  width: 100%;}
        }
        .text-center {
            display: inline-block;
        }
    }
    .button-fullscreen, .space-fullscreen {
        display: none;
    }
}




//-------------------------
// Pages
//-------------------------
#home {
    .box {
        margin-top: 0;
        height: 90%;
        max-height: 590px;
        &.box-blurb { width: 440px; }
        &.box-photo:nth-of-type(1n) { width: 390px; }
        &.box-photo:nth-of-type(2n) { width: 340px; }
        &.box-photo:nth-of-type(3n) { width: 290px; }
        &.box-photo:nth-of-type(4n) { width: 240px; }
        &:nth-child(odd){
            margin-top: 40px;
        }
    }
}
#code {
    .box {
        height: 100%;
        &:last-child {
            @include box-h($h2);
        }
    }
}
#contact {
    ul {
        list-style-type: none;
        padding-left: 15px;
	    padding-bottom: 12px;
        a {
            text-decoration: none;
            color: white;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    .box {
        @include blurb;
        &.links {
            @include box-h($h1);
            @include box-w($w2);

            ul {
                li {
                    margin: 7px 0px;
                    i.lvl { font-size: 40px; }
                    display: inline-block;
                    min-width: 250px;
                }
                .lvl{
                    font-size: 50px;
		            margin-right: 10px;
                    vertical-align:middle;
                }
                a {
                    font-size: 20px;
                    &:hover {
                        text-decoration: none;
                        span { text-decoration: underline; }
                    }
                }
            }
            &.lvl2 {
                @include box-h($h1);
                @include box-w($w2);
            }

        }
        .available { color: #20ff40; }
        .unavailable { color: #ff3010; }
    }
}
@media screen and (min-height: 760px){
    #contact {
        .box.links {
            ul li {
                margin: 12px 0px;
                i.lvl { font-size: 50px; }
            }
            @include box-h($h2);
            @include box-w($w1);
        }
    }
}
map-panorama, #panorama, body>canvas {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#panorama {
    cursor: grab;
    &:active {
        cursor: grabbing;
    }
    canvas {
        position: fixed;
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .container-pullback {
        position: absolute;
        height: 300px;
        width: 100px;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        margin-right: 20px;
        margin-top: 65px;
	    color: white;
	    @include transition(margin-right opacity);

        &.ng-hide {
            margin-right: 100%;
            @include opacity(0);
	    }

        .icon {
            @include x-button;
            font-size: 100px;
            display: block;
            width: auto;
        }
    }
    .container-curtain {
	    position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        background: black;
        @include opacity(1);
        @include transition(opacity);
        &.ng-hide { @include opacity(0); }
    }
}
