@mixin page-base {
    position: relative;
    width: 100%;
    height: 100%;
}

$w1: 290px;
$w2: 590px;
$wx: 440px;
$h1: 190px;
$h2: 390px;
$h12: 290px;
$hx: 100%;
@mixin base-button {
    cursor: pointer;
    @include opacity(0.5);
    text-align: center;
    &:hover {
        @include opacity(0.9);
    }
}
@mixin x-button {
    @include base-button;
    position: absolute;
    top: 10px;
    right: 10px;
}

@mixin box-w($wn){ width: $wn; }
@mixin box-h($hn){ height: $hn; }
@mixin box {
    @include box-w($w1);
    @include box-h($h1);
    background: black;
    color: white;
    margin-right: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    max-height: 590px;
    &.big {
        @include box-w($w2);
        @include box-h($hx);
    }
}
@mixin box-click {
    cursor: pointer;
    border: 2px solid black;
    text-decoration: none;
    background: #000000;
    @include transition(background, 0.2s);
    &:hover {
        @include background(
            radial-gradient(ellipse at center,
                            rgba(5,5,5,1) 50%,
                            rgba(37,37,37,1)));
    }
    &:active { text-decoration: none; }
    &:focus { text-decoration: none; }
}

@mixin box-photo-clickable {
    border: none;
    &:before {
        content: '';
        position: absolute;
        @include background(
            radial-gradient(ellipse at center,
                            rgba(255,255,255,0.02) 20%,
                            rgba(255,255,255,0.1)));
        bottom: 2px;
        right: 2px;
        left: 2px;
        top: 2px;
        z-index: 4;
        @include opacity(0);
        @include transition(opacity, 0.2s);
    }
    &:hover {
        &:before {
            @include opacity(1);
        }
    }
}
@mixin blurb {
    color: white;
    padding: 17px 25px;
    position: relative;
    img.title {
        margin-top: -20%;
        height: auto;
        width: 100%;
    }
    h2 {
        font-size: 35px;
        line-height: 40px;
        margin-top: 18px;
        margin-bottom: 15px;
        &.withsubtext {
            margin-bottom: 4px;
        }
    }
    .subtext {
        font-size: 14px;
        font-weight: normal;
    }
    p {
        margin: 10px 0;
        padding-top: 5px;
    }
    p, div {
        font-size: 14px;
        line-height: 21px;
    }
    .subtext {
        color: #404040;
    }
}
@mixin transition($property:'all', $duration:0.3s,
                  $function:'cubic-bezier(0.250, 0.460, 0.450, 0.940)'){
    @include transition-property($property);
    @include transition-duration($duration);
    @include transition-timing-function($function);
}
