<isotope id="effigy">
  <!--main-->
  <map-summary map="maps['effigy']"></map-summary>

  <!--360-->
  <a class="box box-icon" ng-click="go_panorama(maps['effigy'])">
    <img src="../../images/icons/icons-360.png"></img>
  </a>

  <!--carousel-->
  <div class="box box-carousel effigy">
    <div uib-carousel active="active">
      <div uib-slide ng-repeat="slide in maps.effigy.images" index="slide.id">
        <img ng-src="{{slide.image}}">
      </div>
    </div>
  </div>

  <div class="box box-separator"/>
</isotope>
