<isotope id="snowville">
  <!--main-->
  <map-summary map="maps['snowville']"
               lvl2="1" lvl3="1"></map-summary>

  <!--carousel-->
  <map-carousel map="maps['snowville']"
                lvl2="1" lvl3="3"></map-carousel>

  <!--update page-->
  <a class="box box-quote" target="_blank"
     title="{{'map-added-hover'| translate}}"
     lvl2="3" lvl3="4"
     href="https://www.teamfortress.com/post.php?id=78083">
    {{'map-added' | translate}}<b>
      {{'map-added-smissmas2020' | translate}}</b>
    <div class="date">(3/12/2020)</div>
  </a>

  <!--360-->
  <a class="box box-360"
     ng-click="go_panorama(maps['snowville'])"
     lvl2="5" lvl3="5" title="{{'360-title'| translate}}">
    <img src="../../images/icons/icons-360.png"></img>
  </a>

</isotope>
