<!--main-->
<map-summary map="maps['vanguard']"></map-summary>

<!--3D-->
<map-viewer map="maps['vanguard']"></map-viewer>

<!--carousel-->
<!--div class="box box-carousel vanguard">
  <span class="glyphicon glyphicon-fullscreen fullscreen" ng-click="viewcarouselmodal('.vanguard')"></span>
  <div class="slides_control" id="slides_control">
    <div uib-carousel active="active" template-url="static/partials/carousel.html">
      <div uib-slide ng-repeat="slide in maps.vanguard.images" index="slide.id">
        <div class="modalable" ng-click="viewcarouselmodal('.vanguard')"></div>
        <img ng-src="{{slide.image}}">
      </div>
    </div>
  </div>
</div-->

<!--update page-->
<a class="box box-quote" href="http://www.teamfortress.com/toughbreak/" target="_blank">
  {{'toughbreak' | translate}}<b>{{'toughbreak2' | translate}}</b>
  <div class="date">(17/12/2015)</div>
</a>

<!--360-->
<a class="box box-icon" ng-click="go_panorama(maps['vanguard'])">
  <img src="../../images/icons/icons-360.png"></img>
</a>
