<isotope id="vanguard">
  <!--main-->
  <map-summary map="maps['vanguard']"></map-summary>

  <!--3D-->
  <map-viewer map="maps['vanguard']"></map-viewer>

  <!--carousel-->
  <map-carousel map="maps['vanguard']"></map-carousel>

  <!--update page-->
  <a class="box box-quote" target="_blank"
     href="http://www.teamfortress.com/toughbreak/">
    {{'toughbreak' | translate}}<b>{{'toughbreak2' | translate}}</b>
    <div class="date">(17/12/2015)</div>
  </a>

  <!--360-->
  <a class="box box-360" ng-click="go_panorama(maps['vanguard'])">
    <img src="../../images/icons/icons-360.png"></img>
  </a>

</isotope>
